* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 17px;
    --color-verde-oscuro: rgb(11, 83, 69);
    --color-verde-claro: rgb( 88, 214, 141);
    --color-rojo-bronce: rgb(100, 30, 22);
    --color-verde-normal: rgb(0, 128, 0);
    --color-blanco: rgb(255, 255, 255);
    --color-verde-footer: rgb(140, 241, 140);
    --color-crema-fondo:  rgb(240, 178, 122);
}

body {
    background-color: var(--color-verde-oscuro);
}


/**
 * ############
 * ## Header ##
 * ############
*/

body > header > nav > ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
}

body > header > nav > ul > li > a {
    color: var(--color-verde-claro);
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px;
}


body > header > section > video {
    display: flex;
    justify-content: center;
    width: 90vw;
    border-radius: 20px;
    border-style: solid;
    border-color: var(--color-verde-claro);
}

/**
 * ##########
 * ## Main ##
 * ##########
*/

h1 {
    color: var(--color-verde-claro);
    text-align: center;
    margin-left: 0.2rem;
}

/**
 * ################
 * ## formulario ##
 * ################
*/



h2 {
    font-size:medium;
    text-transform: uppercase;
    font-size: 1rem;
    text-align: center;
    margin: 0.5rem;
    color: var(--color-verde-claro);
}

form {
    font-size:large;
    text-align: center;
    font-weight: bold;
    color: var(--color-verde-claro);
}

form > label {
    display: block;
    font-weight: bold;
}

form > label,
form > button {
    display: block;
    font-size: 0.9rem;
}

form > input {
    height: 20px;
}

form > textarea {
    height: 55px;
}



form > input,
form > textarea {
    color: var(--color-blanco);
    font-weight: bold;
    background-color: var(--color-verde-claro);
    border-radius: 2px;
    border: none;
}

form > input {
    border-radius: 5px;
}


/**
 * ############
 * ## Footer ##
 * ############
*/

body > footer {
    width: 100%;
    text-align: center;
    border-radius: 5px;
}

footer > h3 {
    font-size: x-large;
    /* color: var(--colo-blanco);
     */
        color: var(--color-verde-claro);
}

footer > p {
    font-weight: bold;
    font-size: larger;
    color: var(--color-verde-oscuro);
}


/**
 * ############
 * ## +800px ##
 * ############
*/

@media (min-width: 800px) {
    
    /**
 * ###########
 * ## Header##
 * ###########
*/

    h1 {
        margin-left: 5rem;
        margin-top: 6rem;
        font-size: 2rem;
    }
    body > header > section > video {
        padding: 1rem;
        border-radius: 25px;
    }

    /**
 * ################
 * ## Formulario ##
 * ################
*/




}

/**
 * ############
 * ## +1200px ##
 * ############
*/

@media (min-width: 1200px) {

}